<%= form_with(model: reserf) do |form| %>
  <% if reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserf.errors.count, "error") %> prohibited this reserf from being saved:</h2>

      <ul>
        <% reserf.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :financial_planner_id %>
    <%= form.text_field :financial_planner_id %>
  </div>

  <div class="field">
    <%= form.label :reserve_date %>
    <%= form.date_select :reserve_date %>
  </div>

  <div class="field">
    <%= form.label :time_zone_code %>
    <%= form.number_field :time_zone_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
