<p id="notice"><%= notice %></p>
<h1>ログイン画面</h1>
<table>
  <thead>
    <tr>
      <th>ユーザ</th>
      <th></th>
      <th>FP</th>
    </tr>
  </thead>
  <tbody>
    <% (0..([@users.size, @financial_planners.size].max-1)).each do |n| %>
      <tr>
        <td>
            <% if defined? @users[n].user_name %>
                <%= link_to @users[n].user_name, user_path(@users[n].id), method: :post %>
            <% end %>
        </td>
        <td></td>
        <td>
            <% if defined? @financial_planners[n].financial_planner_name %>
                <%= link_to @financial_planners[n].financial_planner_name, financial_planner_path(@financial_planners[n].id), method: :post %>
            <% end %>
        </td>
      </tr>
    <% end %>
    <tr></tr>
    <tr>
        <td><%= link_to '新規ユーザ追加', new_user_path %></td>
        <td></td>
        <td><%= link_to '新規FP追加', new_financial_planner_path %></td>
    </tr>
  </tbody>
</table>
<br>